*{
	margin: 0px;
	padding: 0px;
}
.navbar.navbar-inverse {
	margin: 0;
	border: 0;
	border-radius: 0;
	/*min-height: 100vh;*/
}
.navbar-brand {
	min-width: 130px;
	background-color: rgba(110,110,110,1.00);
}
#centro {  /*AJUSTA LA ALTURA DE EL BLOQUE PRINCIPAL!*/      /******Importante*****/
	min-height: calc(100vh - 111px);  /*   AJUSTAR CON LA ALTURA DE #defaultNavbar1   (100vh - ALTURA) */
}  /*AJUSTA LA ALTURA DE EL BLOQUE PRINCIPAL!*/                                                                               /******Importante*****/
#enlaces {
	float: right;
	padding: 20px 0px;
	clear: both;
}
#enlaces a {
	margin: 5px 0px;
	width: 35px;
	height: 35px;
	display: block;
	background-color: rgba(100,100,100,1.00);
}
#defaultNavbar1 nav {
	text-align: center;
}
#principales{  /*AJUSTA LA ALTURA DEL BLOQUE DE LO MENUS!    RELACION DIRECCTA CON LA ALTURA DEL BLOQUE PRINCIPAL*/      /******Importante*****/
	padding: 10px 0;      /*JUGAR CON LA SEPARACION DE LOS BOTONES*/
}  /*AJUSTA LA ALTURA DEL BLOQUE DE LO MENUS!    RELACION DIRECCTA CON LA ALTURA DEL BLOQUE PRINCIPAL*/                  /******Importante*****/
#principales li{
	min-width: 150px;     /*JUGAR CON LOS TAMAÑOS DE LOS BOTONES*/
	margin: 0px 15px;
	display: inline-block;
}
a.btn-lg {
	border: 2px solid #c2c2c2;
}
.nav-tabs{
	border-bottom: 0;
}
.nav-tabs li {
	min-width: 200px;     /*JUGAR CON LOS TAMAÑOS DE LOS BOTONES*/
	margin: 0px 5px;
	display: inline-block;
}
.nav-tabs li a {    /* QUITAR TRASPARENTE AL BORDE */
	border-top: 1px solid rgba(100,100,100,1.00);
	border-right: 1px solid rgba(100,100,100,1.00);
	border-bottom: 0px solid rgba(100,100,100,1.00);
	border-left: 1px solid rgba(100,100,100,1.00);
}

main section {
	height: 100vh;
	padding: 68px 0;        /*  AJUSTAR A LA ALTURA DE LA BARRA!  */
}
.container-fluid.non {
	background-color: rgba(130,130,130,1.00);
}
.container-fluid.par {
	background-color: rgba(54,54,54,1.00);
}
.row article {
	padding: 15px;
}

footer{
	padding: 15px;
	color: rgba(255,255,255,1.00);
	background-color: rgba(34,34,34,1.00);
}
.breadcrumb{
	background: rgba(34,34,34,0.00)
}
.breadcrumb > li + li:before {
    color: #ccc;
    content: "\2654  ";   /*   /    \00BB     \21FF    \2502 <ESTE    \2506   \25C8   \2654   \2656   \2659   \2662   \2758   \2759   */
    padding: 0px 5px;
}

#icon{
	color: black;
	font-size: 30pt;
}
#icon:hover{
	color: rgba(255,255,255,1.00);
}


.fixed #secundarios{
	margin-top: 68px;          /*  AJUSTAR SEGUN ALTURA DE LA BARRA */
}
.fixed #principales{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(34,34,34,0.85);
	z-index: 1;
	padding: 10px;
}
.navbar-form.fixed{       /*Cambiar a  .fixedMain   si se usa la otra funcion en el  JS  */
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2;
	margin: 17px 0px;        /*AJUSTAR PARA CENTRAR SEGUN LA ALTURA DE LA BARRA  (ALTURA DE LA BARRA - ALTURA DE FORM / 2 ) */
}
.navbar-header.fixed{      /*Cambiar a  .fixedMain   si se una la otra funcion en el  JS  */
	position: fixed;
	z-index: 2;
}



.ClaseOnScroll{        /*IMPORTANTE*/
}
