*{
	margin: 0px;
	padding: 0px;
}
#header{
	height: 100vh;
	background-color: rgba(34,34,34,1.00);
}
.navbar {
	margin: 0;
	border: 0;
	border-radius: 0;
	background-color: rgba(34,34,34,0.00);   /*USAR SI SE UNA UNA CLASE DE ESTILO PARA EL .NAVBAR (invers / default) PARA QUITAR EL COLOR Y QUE SE VEAN REDONDAS LAS ESQUINAS EN LA VISTA DE TELEFONOS*/
}
.navbar-header{
	background-color: rgba(34,34,34,1.00);
}
.navbar-brand {
	min-width: 130px;
	background-color: rgba(110,110,110,1.00);
}
#centro {  /*AJUSTA LA ALTURA DE EL BLOQUE PRINCIPAL!*/      /******Importante*****/
	min-height: calc(100vh - 111px);  /*   AJUSTAR CON LA ALTURA DE #Menu   (100vh - ALTURA) */
}  /*AJUSTA LA ALTURA DE EL BLOQUE PRINCIPAL!*/                                                                               /******Importante*****/
#centro aside {
	float: right;
	padding: 20px 0px;
	clear: both;
}
#centro aside a {
	margin: 5px 0px;
	width: 35px;
	height: 35px;
	display: block;
	background-color: rgba(100,100,100,1.00);
}
#Menu {
	background-color: rgba(34,34,34,1.00);
	text-align: center;
}
#principales{  /*AJUSTA LA ALTURA DEL BLOQUE DE LO MENUS!    RELACION DIRECCTA CON LA ALTURA DEL BLOQUE PRINCIPAL*/      /******Importante*****/
	padding: 10px 0;      /*JUGAR CON LA SEPARACION DE LOS BOTONES*/
}  /*AJUSTA LA ALTURA DEL BLOQUE DE LOS MENUS!    RELACION DIRECCTA CON LA ALTURA DEL BLOQUE PRINCIPAL*/                  /******Importante*****/
#Menu nav li{
	display: inline-block;
	margin: 0px 5px;
}
#principales li{
	min-width: 150px;     /*JUGAR CON LOS TAMAÑOS DE LOS BOTONES*/
}
a.btn {
	border: 2px solid #c2c2c2;
}
.nav-tabs{
	border-bottom: 0;
}
.nav-tabs li {
	min-width: 200px;     /*JUGAR CON LOS TAMAÑOS DE LOS BOTONES*/
}
.nav-tabs li a {    /* QUITAR TRASPARENTE AL BORDE */
	border-top: 1px solid rgba(100,100,100,1.00);
	border-right: 1px solid rgba(100,100,100,1.00);
	border-left: 1px solid rgba(100,100,100,1.00);
}

main section {
	min-height: 100vh;
	padding: 68px 0;        /*  AJUSTAR A LA ALTURA DE LA BARRA!  */
}
.container-fluid.non {
	background-color: rgba(130,130,130,1.00);
}
.container-fluid.par {
	background-color: rgba(54,54,54,1.00);
}
.row article {
	padding: 15px;
}

footer{
	padding: 15px;
	color: rgba(255,255,255,1.00);
	background-color: rgba(34,34,34,1.00);
}
.breadcrumb{
	background: rgba(34,34,34,0.00)
}
.breadcrumb > li + li:before {
    color: #ccc;
    content: "\2654  ";   /*   /    \00BB     \21FF    \2502 <ESTE    \2506   \25C8   \2654   \2656   \2659   \2662   \2758   \2759   */
    padding: 0px 5px;
}

/* EFECTOS PARA BARRA FIJA! */
.fixed #secundarios{
	margin-top: 68px;          /*  AJUSTAR SEGUN ALTURA DE LA BARRA */
}
.fixed #principales{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(34,34,34,0.85);
	z-index: 1;
	padding: 10px;
}
.navbar-form.fixed{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2;
	margin: 17px 0px;        /*AJUSTAR PARA CENTRAR SEGUN LA ALTURA DE LA BARRA  (ALTURA DE LA BARRA - ALTURA DE FORM / 2 ) */
}
.navbar-header.fixed{
	position: fixed;
	z-index: 2;
}

#icon{
	color: black;
	font-size: 30pt;
}
#icon:hover{
	color: rgba(255,255,255,1.00);
}

.ClaseOnScroll{        /*IMPORTANTE*/
	
}






@media screen and (max-width:767px){      /*PHONE*/
	#header{
		padding-top: calc(100vh - 50px - 10px);   /* (100vh - ALTURA DE LA BARRA #principales - ESPACIO AL BOTTOM) */
	}
	#Menu {
		padding-bottom: 3px;         /* margin del "#Menu nav li"  +  X   =  8px */
		border-radius: 0 0 5px 5px;  /*NO SE ESTA APLICANDO   HAY QUE APLICARLO MAS ARRIBA (EN EL NAVBAR) */
		z-index: 2;
	}
	#Menu nav li{
		display: block;
		margin: 0 0 5px 0;
	}
	#Menu a {
		border: 1px solid rgba(100,100,100,1.00);
		border-radius: 4px;
		margin: 0;
	}
	#principales2{
		text-align: center;
		padding: 3px 0;        /*PARA QUE QUEDE DEL MISMO ALTO QUE LA BARRA Y NO SE NOTE EL EFECTO CUANDO SE FIJEN A ELLA*/
	}
	#principales2 li{
		display: inline-block;
		float: none;
		min-width: 100px;
		/*max-width: 150px;*/
		margin: 0 5px;
		z-index: 9999;
	}
	
	main section{
		padding: 50px 0;
	}
	
	/* EFECTOS PARA BARRA FIJA! */
	.fixed #secundarios {
		margin: 0px;
	}       /*HASTA QUE NO SE ACOMODEN LAS CLASES FIX EN CADA MEDIA QUERY*/
	.fixed #principales2{
		position: fixed;
		top: 0;
		left: calc( (100% - 224px) / 2);
		z-index: 9999;
	}
}  /*PHONE*/   /*COMPLETO (hasta hacer mas cambios)*/

@media screen and (min-width:768px) and (max-width:991px){  /*TABLET*/
	
}  /*TABLET*/
@media screen and (min-width:992px) and (max-width:1199px){  /*DESKTOP SM*/
	
}  /*DESKTOP SM*/
@media screen and (min-width:1200px){  /*DESKTOP LG*/
	
}  /*DESKTOP LG*/
