*{
	margin: 0px;
	padding: 0px;
}
.navbar-brand {
	min-width: 130px;
	background-color: rgba(110,110,110,1.00);
}
#centro {
	min-height: 80vh;
}
#enlaces {
	float: right;
	padding: 20px 0px;
	clear: both;
}
#enlaces a {
	width: 35px;
	margin: 5px 0px;
	height: 35px;
	display: block;
	background-color: rgba(100,100,100,1.00);
}
.navbar.navbar-inverse {
	margin: 0;
	border: 0;
	border-radius: 0;
}
#defaultNavbar1 nav {
	text-align: center;
}
#principales{
	height: 64px;
	padding: 10px;
}
.nav.nav-pills.nav-stacked li {
	min-width: 150px;
	margin: 0px 5px;
	display: inline-block;
}
main section {
	min-height: 100vh;
	padding-top: 64px;
	/*min-height: 600px;*/   /*SOLO APLICAR EN MEDIA:WIDTH GRANDE!!! */
}
.container-fluid.non {
	background-color: rgba(130,130,130,1.00);
}
.container-fluid.par {
	background-color: rgba(54,54,54,1.00);
}
#main .row article {
	padding: 15px;
}
footer{
	padding: 15px;
	color: rgba(255,255,255,1.00);
	background-color: rgba(34,34,34,1.00);
}
.breadcrumb{
	background: rgba(34,34,34,0.00)
}
.breadcrumb > li + li:before {
    color: #ccc;
    content: "\2654  ";   /*   /    \00BB     \21FF    \2502 <ESTE    \2506   \25C8   \2654   \2656   \2659   \2662   \2758   \2759   */
    padding: 0px 5px;
}
#icon{
	color: black;
	font-size: 30pt;
}
#icon:hover{
	color: rgba(255,255,255,1.00);
}



.fixed #secundarios{
	margin-top: 64px;
}
.fixed #principales{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(34,34,34,0.85);
	z-index: 1;
	padding: 10px;
}
/*.fixed .navbar-form{       /*Cambiar a  .fixedMain   si se usa la otra funcion en el  JS  
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2;
	margin: 15px 0px;
}
.fixed .navbar-header{      /*Cambiar a  .fixedMain   si se una la otra funcion en el  JS  
	position: fixed;
	z-index: 2;
}*/
.navbar-form.fixed{       /*Cambiar a  .fixedMain   si se usa la otra funcion en el  JS  */
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2;
	margin: 15px 0px;
}
.navbar-header.fixed{      /*Cambiar a  .fixedMain   si se una la otra funcion en el  JS  */
	position: fixed;
	z-index: 2;
}





.ClaseOnScroll{        /*IMPORTANTE*/
}